@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Tajawal:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary:white;
  --color-secondary: black;
  --color-dark: #000000;
  --Color-mainpage: #FCDC95;
}

@keyframes ambient-light {
  0% { transform: translate(-20%, -20%) scale(1.2); }
  50% { transform: translate(20%, 20%) scale(1.25); }
  100% { transform: translate(-20%, -20%) scale(1.2); }
}

.animate-ambient-light {
  background: radial-gradient(
    circle at center,
    rgba(255,255,255,0.14) 0%,
    rgba(255,255,255,0.05) 25%,
    rgba(0,0,0,0) 60%
  );
  animation: ambient-light 22s ease-in-out infinite;
  filter: blur(90px);
}